/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    */

body {
    background: #0b0b0f;
    color: #00f7ff;
    font-family: "Share Tech Mono", monospace;
    min-height: 100vh;
}


.app-header {
    text-align: center;
    padding: 40px 0;
}

.app-header h1 {
    letter-spacing: 3px;
    text-shadow:
        0 0 8px #00f7ff,
        0 0 16px #00f7ff;
}


.container {
    display: flex;
    justify-content: center;
}


.task-panel {
    width: 500px;
    padding: 25px;
    background: #111118;
    border: 1px solid #00f7ff55;
    border-radius: 10px;

    box-shadow:
        0 0 10px #00f7ff33,
        0 0 30px #00f7ff11;
}


.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    background: #0b0b0f;
    border: 1px solid #00f7ff55;
    color: #00f7ff;
    border-radius: 4px;
}

.task-input input:focus {
    outline: none;
    box-shadow: 0 0 6px #00f7ff;
}

.task-input button {
    padding: 10px 16px;
    border: none;
    background: #ff2bd6;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    box-shadow:
        0 0 6px #ff2bd6,
        0 0 12px #ff2bd6;
}

.task-input button:hover {
    background: #ff00c8;
}

.task-list ul {
    list-style: none;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 10px;
    border-bottom: 1px solid #00f7ff33;
}

.task-list li span {
    flex: 1;
}

.task-list li:hover {
    background: #00f7ff0a;
    box-shadow: 0 0 8px #00f7ff22 inset;
}

#emptyMessage {
    text-align: center;
    color: #00f7ffaa;
    margin-top: 10px;
    font-size: 14px;
}

.cat-ai {
    font-size: 14px;
    color: #ff2bd6;
    text-shadow: 0 0 6px #ff2bd6;
    margin-top: 5px;
}

.completed::after {
    content: " 🐾";
    color: #ff2bd6;
    text-shadow: 0 0 6px #ff2bd6;
}

.task-panel {
    position: relative;
}

.task-panel::before,
.task-panel::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 20px;
    height: 20px;
    background: #111118;
    border: 1px solid #00f7ff55;
    transform: rotate(45deg);
}

.task-panel::before {
    left: 40px;
}

.task-panel::after {
    right: 40px;
}

.delete-btn {
    background: transparent;
    border: 1px solid #ff2bd6;
    color: #ff2bd6;
    padding: 4px 10px;
    margin-left: 15px;
    border-radius: 4px;

    cursor: url('../assets/cat_cursor.png') 12 12, auto;

    transition: all 0.2s ease;
}

.delete-btn:hover {
    background: #ff2bd6;
    color: black;

    box-shadow:
        0 0 6px #ff2bd6,
        0 0 12px #ff2bd6;
}

body {
    cursor: url('../assets/cat_cursor.png') 12 12, auto;
}

button,
a,
li,
p,
div {
    cursor: url('../assets/cat_cursor_select.png') 12 12, auto;
}

button:hover {
    cursor: url('../assets/cat_cursor_select._white.png') 12 12, auto;
}

input,
textarea {
    cursor: text;
}

/* logout */

.logout-btn {

    margin-top: 20px;

    padding: 10px 16px;

    background: transparent;

    border: 1px solid #ff3b3b;

    color: #ff3b3b;

    border-radius: 4px;

    font-family: "Share Tech Mono", monospace;

    box-shadow:
        0 0 6px #ff3b3b44;

    transition: all 0.2s ease;

}

.logout-btn:hover {

    background: #ff3b3b;

    color: black;

    box-shadow:
        0 0 8px #ff3b3b,
        0 0 16px #ff3b3b;

}

#loginPanel {

    width: auto;
    margin: 80px auto;
    padding: 35px 25px 25px 25px;

    background: #0e0e14;

    border: 1px solid #00f7ff44;
    border-radius: 8px;

    box-shadow:
        0 0 12px #00f7ff22,
        0 0 40px #00f7ff11;

    display: flex;
    flex-direction: column;
    gap: 14px;

    position: relative;

}


#loginPanel::before {

    content: "ACCESS REQUIRED";

    position: absolute;
    top: -14px;
    left: 20px;

    background: #0b0b0f;

    padding: 2px 8px;

    font-size: 13px;
    letter-spacing: 2px;

    color: #ff2bd6;

    text-shadow: 0 0 6px #ff2bd6;

}


#loginPanel h2 {

    font-size: 16px;

    letter-spacing: 3px;

    color: #00f7ff;

    text-shadow:
        0 0 6px #00f7ff;

    margin-bottom: 25px;

}

#loginPanel input {

    background: transparent;

    border: none;
    border-bottom: 1px solid #00f7ff55;

    padding: 10px 5px;

    color: #00f7ff;

    font-family: "Share Tech Mono", monospace;

    transition: all .2s;

}


#loginPanel input::placeholder {

    color: #00f7ffaa;

    letter-spacing: 1px;

}


#loginPanel input:focus {

    outline: none;

    border-bottom: 1px solid #ff2bd6;

    box-shadow: 0 4px 6px -4px #ff2bd688;

}


#loginPanel button {

    padding: 10px;

    background: transparent;

    border: 1px solid #ff2bd6;

    color: #ff2bd6;

    font-family: "Share Tech Mono", monospace;

    border-radius: 4px;

    transition: all .25s ease;

}


#loginPanel button:hover {

    background: #ff2bd6;
    color: #0b0b0f;

    box-shadow:
        0 0 8px #ff2bd6,
        0 0 18px #ff2bd6;

}

.auth-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
}